.list-group,
.card {
    box-shadow: $box-shadow;
    @include media-breakpoint-down(md) {
        border-radius: $border-radius-sm;
    }
}
.jumbotron {
    &.jumbotron-sm {
        border-radius: 0;
        padding: $font-size-base*2;
    }
}
