.dropdown-menu {
	border-color: $gray-150;
	box-shadow: $box-shadow-lg;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	&:after,
	&:before {
		bottom: 100%;
		right: $font-size-base*3;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: transparent;
		border-bottom-color: $white;
		border-width: 11px;
		margin-right: -11px;
	}
	&:before {
		border-color: transparent;
		border-bottom-color: $gray-150;
		border-width: 12px;
		margin-right: -12px;
	}
	.dropdown-item {
		color: $gray-900;
		text-decoration: none;
	}
}
