<%= _.template(require('./../includes/header.html').default)() %>

<section role="banner" id="section-home-search" class="bg-light-gray text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-9 mx-auto">

                <h1 class="text-xxxl font-weight-bold">Отслеживание посылок</h1>

                <div class="text-gray text-lg mb-5">
                    Из <strong>AliExpress</strong>, <strong>Ebay.com</strong>, <strong>TaoBao</strong>,
                    JD.com Joom, Wish - Почты России, Украины, Беларусии, Казахстана, Китая, AliExpress JD.com,
                    Joom, Pandao, GearBest, Ebay.com, TaoBao быстро, легко и удобно
                </div>

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row align-items-center">
                                <div class="col-auto text-gray">
                                    <div class="pl-4">
                                        <i class="fas fa-barcode fa-2x"></i>
                                    </div>
                                </div>
                                <div class="col pl-0">
                                    <label for="home-search" class="sr-only">Отследить посылку</label>
                                    <input type="search" id="home-search" name="search" class="form-control form-control-lg"
                                           placeholder="Введите трек-код, например: RF727913178SG" />
                                </div>
                                <div class="col-lg-auto submit-container">
                                    <button type="submit" class="btn btn-primary btn-lg">Отследить посылку</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<div class="section-hr">
    <button type="button" class="btn btn-outline-light bg-white rounded-circle position-absolute">
        <i class="fas fa-angle-down"></i>
    </button>
</div>

<section role="banner" id="section-home-items" class="bg-light-gray">

    <div class="container">

        <div class="row align-items-center">
            <div class="col col-lg-auto pr-0">
                <a href="#" class="btn btn-link btn-sm text-sm text-gray">
                    <i class="fas fa-redo"></i>
                    <span class="pl-1">Обновить</span>
                </a>
            </div>
            <div class="col-auto pl-0">
                <small class="text-gray">Последнее обновление: 2 часа</small>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 mb-2 mb-lg-0 px-0 px-lg-3">
                <div class="card delivery-items-card">
                    <div class="card-body">

                        <div class="delivery-items">
                            <%= _.template(require('./../components/1_item.html').default)() %>
                            <%= _.template(require('./../components/1_item.html').default)() %>
                            <%= _.template(require('./../components/1_item.html').default)() %>
                            <%= _.template(require('./../components/1_item.html').default)() %>
                            <%= _.template(require('./../components/1_item.html').default)() %>
                        </div>

                        <div class="text-center pt-3 d-lg-none">
                            <button type="button" class="btn btn-secondary">
                                Показать все события
                            </button>
                        </div>

                    </div>
                </div>
                <div class="d-none d-lg-block mt-4">
                    <%= _.template(require('./../components/1_cards.html').default)() %>
                </div>
            </div>

            <div class="col-lg">

                <div class="list-group delivery-meta">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto py-3">
                                <div class="text-gray">
                                    <i class="fas fa-barcode fa-2x"></i>
                                </div>
                            </div>
                            <div class="col delivery-meta-code pl-0 py-3">
                                <span class="text-gray">80110944330814</span>
                            </div>
                            <div class="col-auto align-self-start">
                                <div class="lang-item bg-white text-right">
                                    <div class="btn-group-vertical btn-group-sm">
                                        <a href="#" class="btn btn-outline-light font-weight-normal active">Ru</a>
                                        <a href="#" class="btn btn-outline-light font-weight-normal">En</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col text-gray">Страна отправки</div>
                            <div class="col-auto">
                                <span>Россия</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col text-gray">Страна получатель</div>
                            <div class="col-auto">
                                <span>Россия</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col text-gray">Адрес получения</div>
                            <div class="col-auto">
                                <span>Москва 19</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-lg-none">
                    <%= _.template(require('./../components/1_cards.html').default)() %>
                </div>

                <div class="card mt-4 d-none d-lg-flex">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </div>
                            <div class="col">
                                Включите уведомления чтобы моментально
                                получать уведомление об изменении статуса
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="text-lg mb-2">Ссылка для отслеживания</div>
                        <div class="input-group input-group-sm mb-3">
                            <label for="track-link" class="sr-only">Ссылка для отслеживания</label>
                            <input type="text" class="form-control" id="track-link" value="https://trackgo.ru/?1234567890" readonly />
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button">
                                    <i class="fas fa-link"></i>
                                </button>
                            </div>
                        </div>
                        <div class="text-lg mb-2">Поделиться ссылкой</div>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#"><svg class="icon-lg text-gray"><use xlink:href="svg/vk.svg#vk"></use></svg></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><svg class="icon-lg text-gray"><use xlink:href="svg/twitter.svg#twitter"></use></svg></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><svg class="icon-lg text-gray"><use xlink:href="svg/linkedin.svg#linkedin"></use></svg></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><svg class="icon-lg text-gray"><use xlink:href="svg/facebook.svg#facebook"></use></svg></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<div class="section-hr"></div>

<%= _.template(require('./../includes/footer.html').default)() %>

<section role="banner" id="section-home-stats" class="bg-light-gray">

    <div class="container">

        <div class="total text-center">
            <div class="amount text-xxxl font-weight-bold">10 263 934</div>
            <div class="caption text-xl text-gray line-height-1 mb-4 mb-lg-5">Посылок мы отследили</div>
        </div>

        <div class="cards">
            <div class="row">
                <div class="col-lg-4 mt-2 mt-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <span class="font-weight-bold text-primary text-xxl">462</span>
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Активные службы отслеживания посылок
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md">
                                Устали ждать посылку? Мы поможем Вам узнать в какой точке мира
                                была замечена Ваша посылка последний раз
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 mt-lg-4 d-none d-lg-block">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <img src="img/chrome.png" alt="Расширение для браузера" />
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Расширение для браузера
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md mb-2">
                                Установите удобное расширение в бразуер
                                и отслеживайте посылки прямо из личного кабинета
                            </div>
                            <a href="#" class="text-primary font-weight-bold">Установить</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 mt-lg-4 d-none d-lg-block">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <img src="img/bell.png" alt="Web-push уведомления" />
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Web-push уведомления
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md">
                                Хотите быть всегда в курсе изменений статусов вашей посылки?
                                Используйте push-уведомления
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 mt-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <img src="img/icontelegram.png" alt="Телеграм бот @TrackGoBot" />
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Телеграм бот @TrackGoBot
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md mb-2">
                                Уведомления, отслеживание, управление отправлениями
                            </div>
                            <a href="#" class="text-primary font-weight-bold">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 mt-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <img src="img/vk.png" alt="Вконтакте бот" />
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Вконтакте бот
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md mb-2">
                                Онлайн-поддержка, задайте вопрос в чате
                            </div>
                            <a href="#" class="text-primary font-weight-bold">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2 mt-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <img src="img/shield.png" alt="Личный кабинет" />
                                </div>
                                <div class="col">
                                    <div class="line-height-1 font-weight-bold text-lg">
                                        Личный кабинет
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray line-height-md mb-2">
                                История всех Ваших отправлений
                            </div>
                            <a href="#" class="text-primary font-weight-bold">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<section role="banner" id="section-home-faq">

    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="text-xxl font-weight-bold text-gray mb-3">
                    Часто задаваемые вопросы
                </div>

                <div class="accordion" id="accordionFAQ">
                    <div class="card">
                        <div class="card-header" id="accordionFAQh1">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordionFAQc1"
                                        aria-expanded="true" aria-controls="accordionFAQh1">
                                    Collapsible Group Item #1
                                </button>
                            </h2>
                        </div>
                        <div id="accordionFAQc1" class="collapse show" aria-labelledby="accordionFAQh1" data-parent="#accordionFAQ">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="accordionFAQh2">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionFAQc2"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                </button>
                            </h2>
                        </div>
                        <div id="accordionFAQc2" class="collapse" aria-labelledby="accordionFAQh2" data-parent="#accordionFAQ">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="accordionFAQh3">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionFAQc3"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </button>
                            </h2>
                        </div>
                        <div id="accordionFAQc3" class="collapse" aria-labelledby="accordionFAQh3" data-parent="#accordionFAQ">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="accordionFAQh4">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionFAQc4"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </button>
                            </h2>
                        </div>
                        <div id="accordionFAQc4" class="collapse" aria-labelledby="accordionFAQh4" data-parent="#accordionFAQ">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="accordionFAQh5">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accordionFAQc5"
                                        aria-expanded="false" aria-controls="accordionFAQc5">
                                    Collapsible Group Item #3
                                </button>
                            </h2>
                        </div>
                        <div id="accordionFAQc5" class="collapse" aria-labelledby="accordionFAQh5" data-parent="#accordionFAQ">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg">

            </div>
        </div>
    </div>

</section>
