#app {
	padding-top: 5rem;
    @include media-breakpoint-down(md) {
        padding-top: 50px;
    }
}

html, body {
	font-family: 'Circe', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
}

svg {
	@extend .ease;
	&.icon {
		width: 18px;
		height: 18px;
        @include media-breakpoint-down(md) {
            width: 13px;
            height: 13px;
        }
	}
    &.icon-lg {
        width: 25px;
        height: 25px;
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}
.box-shadow-sm {
    @include media-breakpoint-down(md) {
        box-shadow: $box-shadow;
    }
}
.box-shadow-md {
    @include media-breakpoint-up(lg) {
        box-shadow: $box-shadow;
    }
}

svg.text-gray,
.text-gray svg {
    fill: $gray;
    &:hover {
        fill: $primary;
    }
}

section {
    padding-top: 4.5rem;
    padding-bottom: 7.5rem;
    @include media-breakpoint-down(md) {
        padding-top: 3.5rem;
        padding-bottom: 4.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

footer {
    overflow: hidden;
    & > .container {
        z-index: 2;
        position: relative;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        .box {
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: -30px;
            background-image: url('../img/box-footer.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 285px;
            height: 244px;
        }
        @include media-breakpoint-down(md) {
            padding: 1.5rem;
            .box {
                width: 155px;
                height: 133px;
                bottom: 15px;
                right: -30px;
            }
        }
    }
    .logo {
        width: 9rem;
    }
}

.section-hr {
    position: relative;
    height: 6px;
    background-color: $white;
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        box-shadow: $box-shadow-lg;
        padding: 0;
        left: 50%;
        margin-left: -25px;
        top: -22px;
    }
}

.card + .card,
.card + .list-group,
.list-group + .card {
    margin-top: $grid-gutter-width;
    @include media-breakpoint-down(md) {
        margin-top: $font-size-base/2;
    }
}


