$indigo: #6062FF; // hover: #4142C2
$red: #D13030;
$teal: #30D1A7;

$gray-200: #E6E6F0;
$gray-600: #727292;
$gray-700: #474761;
$gray-900: #222222;

$primary: $indigo;
$success: $teal;
$secondary: $gray-600;
$dark: $gray-900;

$input-border-radius: 6px;
$input-border-radius-sm: 2px;

$btn-border-radius: 6px;
$btn-border-radius-sm: 3px;

$btn-padding-y: 16px;
$btn-padding-x: 30px;

$btn-padding-y-sm: 10px;
$btn-padding-x-sm: 20px;

$box-shadow: 0 0 10px $gray-200;
